# OpenBB fork with custom modifications
# Install from our fork's develop branch
#git+https://github.com/barbapapadev-ops/OpenBB.git@develop#egg=openbb
# Use the local OpenBB copy in this workspace (editable)
-e ./OpenBB/openbb_platform
matplotlib
